body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh; /* Altura completa de la ventana */
    width: 100%;   /* Ancho completo */
}

.form-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    z-index: 1000;
}